{% include "page-head.html" %} 

<script type="text/javascript">
	//<![CDATA[	  
		
		function webInit()
		{          	
			$("#tabs_3").addClass("current");
		}
		
		$(document).ready(function(){ 
			webInit();	
			//toadd						
		});  
		          
	//]]>
</script>

{% include "page-center.html" %} 
{% include "header.html" %}
{% include "menu.html" %}

<!---------------------To be completed------------------------>
	<div id="mainExt">
		<div id="main">
			<div id="menuLevel3" class="panes">
				<div id="menuLevel3Inner" ></div>
			</div>
			<div id="content">
				<div id="contentLoader" class="loader">
					<p>To be completed</p>
				</div>
				<div id="contentInner"></div>
			</div>
		</div>
	</div>
<!---------------------To be completed------------------------>


	
	<div style="width: 100%; background-color: #d2d3d0; height: 3px;"></div>
	
	<div id="footerExt">
		<div id="footer">
			<div id="copyright" style="text-align:center; margin-top:20px">
				<span style="color: white; font-family: Arial; font-size: 11px">Copyright &copy; 2015 CIG. All rights reserved.</span>
			</div>               
		</div>
	</div>
    
{% include "page-end.html" %} 